---
import PostHeader from "$lib/components/post-header.astro";
import BaseLayout from "$lib/layouts/base_layout.astro";
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
    const pages = await getCollection("posts");

    return pages.map((p) => {
        const id = p.id;
        const pubDate = p.data.pubDate.toISOString().substring(0, 10);

        return {
            params: { post: `/${pubDate}/${id}/` },
        };
    });
}) satisfies GetStaticPaths;

const { post } = Astro.params;
let slug = post.split("/")[1];
const postEntry = await getEntry("posts", slug)!;
const { Content } = await render(postEntry);
---

<BaseLayout>
    <div>
        <PostHeader post={postEntry} />
    </div>
    <Content />
</BaseLayout>
