---
import { getCollection } from "astro:content";
import PostHeader from "./post-header.astro";
import PostExcerpt from "./post-excerpt.astro";
const allPosts = await getCollection("posts");
---

<div class="flex h-full w-full flex-col gap-y-12">
    {
        allPosts
            .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
            .map((post) => {
                return (
                    <div class="flex flex-col">
                        <PostHeader post={post} />
                        <!-- <div class="pr-5"> -->
                        <!--     <PostExcerpt post={post} /> -->
                        <!-- </div> -->
                    </div>
                );
            })
    }
</div>
